.container_item_form
{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    height:56px;
    margin-top:8px;
    width:86%;

}

.container_item_form label
{
    font-size:13px;
    margin-bottom:5px;
    width:100%;
}

.container_item_form select
{
    width:100%;
}

.container_item_form input
{
    height:36px;
    width:100%;
}

.container_item_form input
{
    border:none;
    background:#d9d9d9;
    border-radius:15px;
}

.container_small_item
{
    width:65%;
}

.container_tiny_item
{
    width:30%;
}

.container_submit
{
    display:flex;
    width:50%;
}

.input_submit, .input_cancel
{
    align-items:center;
    border:none;
    border-radius:6px;
    color:#FFFFFF;
    cursor:pointer;
    display:flex;
    font-size:12px;
    height:33px;
    justify-content:center;
    margin:50px 10px 0 0;
    width:100px;
}

.input_submit
{
    background:#2292ac;
}

.input_cancel
{
    background:#636363;
}

form .error-required
{
    border:1px solid red;
}

input[type="text"]
{
    text-indent: 10px;
}

.halfSize
{
    width:50%;
}