.container_item_form
{
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	-webkit-flex-wrap:wrap;
	    -ms-flex-wrap:wrap;
	        flex-wrap:wrap;
	-webkit-box-pack:justify;
	-webkit-justify-content:space-between;
	    -ms-flex-pack:justify;
	        justify-content:space-between;
	height:56px;
	margin-top:8px;
	width:365px;

}

.container_item_form label
{
	font-size:13px;
	margin-bottom:5px;
	width:100%;
}

.container_item_form input
{
	height:36px;
	width:100%;
}

.container_item_form input
{
	border:none;
	background:#d9d9d9;
	border-radius:6px;
}

.container_small_item
{
	width:70%;
}

.container_tiny_item
{
	width:20%;
}

.container_submit
{
	width:50%;
}

.input_submit, .input_cancel
{
	border:none;
	border-radius:6px;
	color:#FFFFFF;
	cursor:pointer;
	
	height:33px;
	margin-top:50px;
	width:100px;
}

.input_submit
{
	background:#2292ac;
}

.input_cancel
{
	background:#636363;
}